.cash {
font-style: arial;
font-size: 24px;
}

h1 { text-align: center;}

.col-md-3 {
  text-align: center;
}

.cash  {
margin-left: 50px;
margin-top: 20px;
width: 300px;
text-align: center;
}

.inventory {
margin-left: 50px;
margin-top: 20px;

}

button {
}
